.asd{
    background-color: aqua;
    margin: 10px 25px;
    padding:  8% 10%;
    border-radius: 20%;

}
button{
    margin: 50px;
    background-color: aquamarine;

}
.nav{
    margin: auto;
    background-color: aqua;
    

}
span{
    margin: 5%;
    padding: auto;
}
.bb{
margin-left: 30%;
}
