.asd{
    align-content: center;
    width: 200px;
    height: 200px;
    position: relative;
    background-color: rgb(8, 8, 8);
    animation: asd1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    object-fit: cover;
}

@keyframes asd1{
   
    0%{background-color: rgb(8, 8, 8);border-radius: 10px;left: 200px ;top: 0px;}
    /* 20%{background-color: rgb(234, 18, 18);border-radius: 20px;left: 0px;top:600px;} */
    /* 30%{background-color: rgb(25, 226, 14);border-radius: 30px;left: 0px;top:100px;}
    70%{background-color: rgb(153, 1, 184);border-radius: 75px;left: 0px;top: 200px}
    80%{background-color: rgb(208, 22, 137);border-radius: 90px;left: 200px;top: 400px;}
    90%{background-color: rgb(5, 1, 1);border-radius: 100px;left: 0px;top:0;} */
    
}