* {
    padding: 0;
    margin: 0;
    
}

body {
    width: 100%;
}

header {
    width: 100vw;
    height: 80px;
    background-color: rgb(56, 56, 56);
    
}
.nav nav{
    margin-top: 10px;
    display: flex;
    margin: 15px;
    align-content: space-between;
    
}

ul{
    margin-top: 30px;
    display: flex;
    align-content: space-between;
    list-style: none;
    gap: 20px;
    margin-left: 10px;
}
.list a{
    text-decoration: none;
}


.logo img{
    width: 220px;
    height: 70PX;
    

}
.search button{
    width: 200px;
    margin-top: 28px;
    margin-left: 15px;
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    background-color: rgb(251, 251, 250);
    align-content: last baseline;
}
.search button img{
    width: 20px;
    height: 20px;
    color: black ;
    justify-content: last baseline;
}
.con1{
    margin-top: 5px;
    margin-right: 10px;
    margin-left:70vw;
    width: 250px;
    height: 50px;
    background-color: yellow;
    border-radius: 50px;
    display: flex;
    position: absolute;
    
}
.con1 div{
    margin-left: 25px;
    position: relative;
    display: flex;
}
.con1 img {
    margin-top: 25px;
    margin-left:10px

}
.birla{
    margin-left: 15%;
}
.list li:hover{
    transform: scale(1.1);
    text-underline-offset: 1px;
    text-decoration: underline red;

}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}



html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}

.item:nth-child(1) {
    background: #74C390;
}

.item:nth-child(2) {
    background: #51BCE8;
}

.item:nth-child(3) {
    background: #E46653;
}
@media(min-width:470px)and (max-width:867px)
{
.nav nav{
   
    flex-wrap: wrap;
}
.list li{
    font-size: small;
}
.logo img{
    width: 100;
}
.con1{
   
    margin-left:40vw;
    
    
}


}